#craps-game {
    background-image: url(/images/vegas.jpg);
    background-position: center;
    color: var(--titleSectionTertiaryColor)
}

.craps-game-title{
    text-align: center;
    margin-top: 100px;
}

.craps-game-container{
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid var(--titleSectionTertiaryColor) 2px;
    margin: 0 auto 0 auto;
    background-image: url(/images/crapstable.png);
    background-size: cover;
    background-position: center top;
}

.craps-registration-pane{
    margin-top: 25px;
    text-align: center;
}

.craps-registration-input{
    background: none;
    border:none;
    border-bottom: solid var(--titleSectionTertiaryColor) 1px;
    margin-top:25px;
    color: var(--titleSectionTertiaryColor);
    text-align: center;
}

.craps-registration-input:focus{
    outline-width: 0px;
}

.craps-registration-continue{
    margin-top: 25px;
}

.craps-registration-continue:hover{
    cursor:pointer;
    font-weight: bold;
}